@font-face {
    font-family: 'Hebar';
    src: url('../font/HebarExtraLight.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hylvetica';
    src: url('../font/Hylvetica.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway Thin.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../font/Impact.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/GothamNarrSSm.otf') format('truetype');
    font-weight: normal;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
    background: #D6D6D6;
}

button:hover {
    cursor: pointer;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    z-index: 999;
    opacity: 0.7;
    box-shadow: #111111 0px 3px 4px -2px;
    background: #FFFFFF;
}

header > img {
    width: 60px;
    height: 60px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;

}

#nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#nav-bar a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #111111;
    font-family: Arial;
    font-size: 1.4em;
}

#nav-bar li a:hover {
    border-bottom: 1px solid #111111;
}

a#log-ref {
    margin-left: 160px;
    padding: 10px 15px;
    border: 1px solid #111111;
}

#promo {
    position: relative;
}

#promo-background {
    width: 100%;
}

#promo-title {
    position: absolute;
    top: 27%;
    left: 11%;
    width: 21%;
}

h1#promo-title {
    position: absolute;
    top: 50%;
    left: 9.5%;
    width: 25%;
    font-family: Impact;
    font-size: 3.2vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: #232327;

}

#work-example-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
}

#work-example-description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #715E53;
    font-family: Hylvetica;
}

#work-example-description h2 {
    margin: 10px 0px;
    font-size: 1.8em;
}

#work-example-description p {
    line-height: 25px;
}

#work-example-preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#work-example-preview img {
    width: 31%;
    margin-top: 3.5%;
}

#contact-us-section {
    height: 640px;
    padding-top: 110px;
    background: url(../img/main/form-background.png);
}

#contact-us-section form {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin-left: 150px;
}

#contact-us-section form h3 {
    margin-bottom: 20px;
    font-family: Raleway;
    font-size: 2em;
    color: #111111;
}

#contact-us-section form input,
#contact-us-section form textarea {
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: Hylvetica;
    color: #333333;
    background: #23232312;
}

#contact-us-section form textarea {
    resize: none;
}

#contact-us-section button {
    display: block;
    padding: 10px 15px;
    border: 1px solid #111111;
    text-decoration: none;
    color: #111111;
    font-family: Arial;
    font-size: 1.4em;
    background: none;
}

/*Service*/

.main-service {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background: #232322;
    font-size: 1em;
    color: #EFEFF1;
}

.main-service:nth-child(even) {
    flex-direction: row-reverse;
    background: #FFFFFF;
    color: #242323;
}

.main-service form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 73%;
}

.main-service-title {
    display: flex;
    justify-content: space-between;
}

.main-service-title h2,
.main-service-title h3 {
    font-family: Impact;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.main-service-title h3 {
    margin-left: 3%;
    font-size: 7.4em;
    letter-spacing: 5px;
    line-height: 120px;
}

.main-service form > p {
    flex-grow: 1;
    margin-top: 20px;
    line-height: 30px;
    font-family: Hebar;
    font-size: 1.3em;
    color: #a9a9a9;
}

.main-service button {
    display: block;
    padding: 15px;
    width: 190px;
    border: 1px solid #EFEFF1;
    background: none;
    font-family: Arial;
    font-size: 1.4em;
    color: #EFEFF1;
}

.main-service:nth-child(even) button {
    border-color: #242323;
    color: #242323;
}

.main-service img {
    width: 23%;
    height: 23%;
}

#additional-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 1em;
    color: #46464B;
}

#additional-service form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    margin-bottom: 2%;
    background: #FFFFFF;
}

#additional-service form img {
    width: 100%;
}

#additional-service form > div {
    width: 85%;
    margin: 30px 0 20px 0;
    font-family: Impact;
    color: #46464B;
}

#additional-service form > div h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 100;
}

#additional-service form > div h4 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

#additional-service form button {
    width: 85%;
    margin-bottom: 30px;
    padding: 15px;
    font-family: Arial;
    font-size: 1.4em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}

/*barber choice*/

#barber-choice-title{
    margin: 38px 0;
    font-family: Raleway;
    font-size: 2.3em;
    text-align: center;
}

#barber-choice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
}

#barber-choice form{
    display: flex;
    position: relative;
    width: 49.3%;
    margin-bottom: 1.3%;
    font-family: Hebar;
    color: #111111;
    background: #FFFFFF;
}

#barber-choice img{
    width: 300px;
    height: 300px;
}

#barber-choice form > div{
    display: flex;
    flex-direction: column;
    padding: 45px;
}

#barber-choice form p{
    margin-bottom: 30px ;
    font-size: 2.5em;
}

#barber-choice ul{
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    margin-bottom: 35px;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #565656;
    list-style: none;
}

#barber-choice ul li{
    padding: 2px 5px;
    background: #D6D5D2;
}

#barber-choice .active-day{
    color: #FFFFFF;
    background: #1E7C04;
}

.barber-social{
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.barber-social i{
    font-size: 1.1em;
    color: #111111;
}

#barber-choice button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 25px;
    font-family: Arial;
    font-size: 1.2em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #111111;
}

#footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    border-radius: 100%;
    background: #FFFFFF;
    opacity: 0.7;
}

#footer-logo img {
    width: 60%;
}

#copyright {
    font-size: 0.9em;
    color: #929090;
}