@font-face {
    font-family: 'Hebar';
    src: url('../font/HebarExtraLight.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hylvetica';
    src: url('../font/Hylvetica.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway Thin.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../font/Impact.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/GothamNarrSSm.otf') format('truetype');
    font-weight: normal;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
    background: #D6D6D6;
}

button:hover {
    cursor: pointer;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    z-index: 999;
    opacity: 0.97;
    box-shadow: #111111 0px 3px 4px -2px;
    background: #f1f1f2;
}

header > img {
    width: 60px;
    height: 60px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;

}

#nav-bar > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#nav-bar a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #111111;
    font-family: Arial;
    font-size: 1.4em;
}

#nav-bar li a:hover {
    border-bottom: 1px solid #b1b1b1;
}

a#log-ref {
    margin-left: 160px;
    padding: 10px 15px;
    border: 1px solid #111111;
}

#user-header-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

#user-header-nav > div {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid #b1b1b1;
}

#user-header-nav img {
    width: 60px;
    margin: 0 16px;
    border-radius: 100%;
    border: 1px solid #c5c5c5;
}

#user-header-nav > span {
    font-family: Hebar;
    margin-right: 20px;
}

#user-header-nav > i {
    margin-left: 5px;
    font-size: 1.3em;
}

#user-header-nav > ul {
    position: absolute;
    top: 80px;
    width: 286px;
    display: none;
    height: 0px;
    padding: 0 25px 20px;
    background: #f0f0f2;
    font-size: 0.75em;
    list-style: none;
}

#user-header-nav > ul.show{
    display: block;
    height: auto;
}

#user-header-nav a {
    padding: 10px 0px;
    width: 100%;
}

#user-header-nav a i {
    margin-right: 10px;
    font-size: 0.9em;
}

#user-header-nav a:hover {
    border-bottom: 1px solid #b1b1b1;
    margin-bottom: -1px;
}

#promo {
    position: relative;
}

#promo-background {
    width: 100%;
}

#promo-title {
    position: absolute;
    top: 27%;
    left: 11%;
    width: 21%;
}

h1#promo-title {
    position: absolute;
    top: 50%;
    left: 9.5%;
    width: 25%;
    font-family: Impact;
    font-size: 3.2vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: #232327;

}

#work-example-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
}

#work-example-description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #715E53;
    font-family: Hylvetica;
}

#work-example-description h2 {
    margin: 10px 0px;
    font-size: 1.8em;
}

#work-example-description p {
    line-height: 25px;
}

#work-example-preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#work-example-preview img {
    width: 31%;
    margin-top: 3.5%;
}

#contact-us-section {
    height: 640px;
    padding-top: 110px;
    background: url(../img/main/form-background.png);
}

#contact-us-section form {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin-left: 150px;
}

#contact-us-section form h3 {
    margin-bottom: 20px;
    font-family: Raleway;
    font-size: 2em;
    color: #111111;
}

#contact-us-section form input,
#contact-us-section form textarea {
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: Hylvetica;
    color: #333333;
    background: #23232312;
}

#contact-us-section form textarea {
    resize: none;
}

#contact-us-section button {
    display: block;
    padding: 10px 15px;
    border: 1px solid #111111;
    text-decoration: none;
    color: #111111;
    font-family: Arial;
    font-size: 1.4em;
    background: none;
}

/*Service*/

.main-service {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background: #232322;
    font-size: 1em;
    color: #EFEFF1;
}

.main-service:nth-child(even) {
    flex-direction: row-reverse;
    background: #FFFFFF;
    color: #242323;
}

.main-service form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 73%;
}

.main-service-title {
    display: flex;
    justify-content: space-between;
}

.main-service-title h2,
.main-service-title h3 {
    font-family: Impact;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.main-service-title h3 {
    margin-left: 3%;
    font-size: 7.4em;
    letter-spacing: 2px;
    line-height: 120px;
}

.main-service form > p {
    flex-grow: 1;
    margin-top: 20px;
    line-height: 30px;
    font-family: Hebar;
    font-size: 1.3em;
    color: #a9a9a9;
}

.main-service button {
    display: block;
    padding: 15px;
    width: 190px;
    border: 1px solid #EFEFF1;
    background: none;
    font-family: Arial;
    font-size: 1.4em;
    color: #EFEFF1;
}

.main-service:nth-child(even) button {
    border-color: #242323;
    color: #242323;
}

.main-service img {
    width: 23%;
    height: 23%;
}

#additional-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 1em;
    color: #46464B;
}

#additional-service form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    margin-bottom: 2%;
    background: #FFFFFF;
}

#additional-service form img {
    width: 100%;
}

#additional-service form > div {
    width: 85%;
    margin: 30px 0 20px 0;
    font-family: Impact;
    color: #46464B;
}

#additional-service form > div h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 100;
}

#additional-service form > div h4 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

#additional-service form button {
    width: 85%;
    margin-bottom: 30px;
    padding: 15px;
    font-family: Arial;
    font-size: 1.4em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}

/*barber choice page*/

#barber-choice-title {
    margin: 38px 0;
    font-family: Raleway;
    font-size: 2.3em;
    text-align: center;
}

#barber-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
}

#barber-choice form {
    display: flex;
    position: relative;
    width: 49.3%;
    margin-bottom: 1.3%;
    font-family: Hebar;
    color: #111111;
    background: #FFFFFF;
}

#barber-choice img {
    width: 300px;
    height: 300px;
}

#barber-choice form > div {
    display: flex;
    flex-direction: column;
    padding: 45px;
}

#barber-choice form p {
    margin-bottom: 30px;
    font-size: 2.5em;
}

#barber-choice ul {
    display: flex;
    justify-content: space-between;
    max-width: 180px;
    margin-bottom: 35px;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #565656;
    list-style: none;
}

#barber-choice ul li {
    padding: 2px 5px;
    background: #D6D5D2;
}

#barber-choice .active-day {
    color: #FFFFFF;
    background: #1E7C04;
}

.barber-social {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.barber-social i {
    font-size: 1.1em;
    color: #111111;
}

#barber-choice button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 25px;
    font-family: Arial;
    font-size: 1.2em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}

/*staff page*/

#staff-list {
    display: flex;
    flex-direction: column;
    max-width: 1660px;
    width: 100%;
    margin: 25px auto;
    padding: 0 45px;
    background: #FFFFFF;
}

#staff-list form:last-child {
    border-bottom: none;
}

#staff-list form {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    border-bottom: 1px solid #111111;
    font-family: Hebar;
}

#staff-list form img {
    width: 210px;
    height: 210px;
    border-radius: 100%;
}

#staff-list form > div {
    padding-left: 50px;
}

.staff-list-description {
    display: flex;
    margin-bottom: 15px;
    color: #111111;
}

.staff-list-description > p {
    font-size: 2.5em;

}

.staff-list-description > i {
    margin-left: 45px;
    font-size: 1.8em;
    line-height: 40px;
}

.staff-list-description > span {
    margin-left: 10px;
    font-size: 2.1em;
    line-height: 45px;
}

#staff-list form > div > blockquote {
    margin: 0 0 15px 15px;
    font-family: Hylvetica;
    font-size: 1em;
    font-style: italic;
    line-height: 30px;
    color: #99999A;
}

.staff-nav-bar {
    display: flex;
}

#staff-list form i {
    font-size: 1.5em;
}

#staff-list form button {
    padding: 10px 12px;
    font-size: 1.2em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}

#staff-list form a {
    padding: 10px;
    margin-left: 20px;
    font-size: 1.2em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}

/*login page*/

#login-form-section {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    height: 57%;
    margin: 0 auto;
    background: #FFFFFF;
}

#login-form-section form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 320px;
    width: 60%;
    padding: 50px;
}

#login-form-section form h1 {
    margin-bottom: 20px;
    font-family: Hebar;
    font-size: 2em;
}

#login-form-section form input {
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: Hylvetica;
    color: #333333;
    background: #23232312;
}

#login-form-section form button {
    padding: 10px 12px;
    font-size: 1.2em;
    border: 1px solid #242323;
    color: #242323;
    background: none;
}

/*edit profile page*/

#edit-main {
    position: relative;
    display: flex;
    padding-top: 80px;
    background: #f4f4f4;
    border-right: 1px solid #9B9B9B;
    box-shadow: 2px 0px 20px #0000000f;
}

#edit-main aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 27%;
    position: sticky;
    top: 80px;
    height: -webkit-fill-available;
    border-right: 1px solid #11111130;
    box-shadow: 10px 0 14px -8px #88888852;
}

#edit-main aside > img {
    width: 55%;
    margin: 40px 0 60px 0;
    border-radius: 70%;
}

#edit-main aside > div {
    display: flex;
    flex-direction: column;
    width: 55%;
}

#edit-main aside > div > span {
    font-family: Gotham;
    font-size: 0.75em;
    text-transform: uppercase;
}

#edit-main aside > div > i {
    position: relative;
    top: -9px;
    right: -90%;
    width: 27px;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    color: #717171;
}

#edit-main aside > div > i:hover {
    cursor: pointer;
}

#edit-main aside > div > input {
    width: 70%;
    margin: 0 0 -20px 20px;
    padding: 0 8px;
    font-family: Gotham;
    font-size: 1.5em;
    color: #000000;
}

#edit-main aside > div > input:disabled {
    border: none;
    background: none;
}

#profile-menu{
    margin: 20px 0 40px 0;
}

#edit-main #profile-menu span{
    font-size: 1.45em;
    text-transform: none;
}

#profile-menu > ul {
    font-size: 0.75em;
    list-style: none;
}

#profile-menu > ul > li {
    margin: 10px 0;
}

#profile-menu > ul a {
    padding: 10px 0;
    font-family: Gotham;
    font-size: 1.8em;
    text-decoration: none;
    color: #111111;
}

/*#profile-menu > ul > li:hover {*/
/*    margin-bottom: -1px;*/
/*    border-bottom: 1px solid #b1b1b1;*/
/*}*/

#profile-menu a > i {
    position: relative;
    top: -2px;
    margin-right: 10px;
    font-size: 0.7em;
}

#edit-main > div {
    flex-basis: 65%;
    margin: 50px auto;
    max-width: 960px;
    width: 80%;
}

#edit-main > div > h1 {
    font-family: Hebar;
    font-size: 1.4em;
    font-weight: 100;
    text-transform: uppercase;
}

#current-services {
    margin-top: 50px;
}

.current-service > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #BFBFBF;
    font-family: Hebar;
    background: #FFFFFF;
}

.current-service > div > img {
    flex-basis: 17%;
    margin: 30px;
    width: 6%;
    height: 6%;
    border-radius: 50%;
}

.current-service > div:first-child > div {
    display: flex;
    flex-direction: column;
}

.current-service > div:first-child > div:nth-child(2) {
    flex-basis: 65%;
    padding: 30px;
}

.current-service-description-units{
    display: flex;
    flex-wrap: wrap;
}

.current-service-description h2{
    font-weight: 100;
    text-transform: uppercase;
}

.current-service-description-units > div {
    flex-basis: 50%;
    text-transform: uppercase;
}

.current-service-description-units > div > span {
    display: block;
    margin: 18px 0;
    font-size: 0.8em;
}

.current-service-description-units > div > div {
    margin-left: 15px;
    font-size: 1.4em;
}

.current-service-description-units > div > div > i {
    position: relative;
    top: -2px;
    margin-right: 5px;
    font-size: 0.6em;
}


.current-service > div:nth-child(1) > div:last-child{
    display: flex;
    flex-basis: 15%;
    right: 0%;
    top: 0%;
}

.current-service-buttons-bar{
    height: 177px;
}

.current-service-buttons-bar > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120px;
}

.current-service-buttons-bar button{
    width: 50px;
    height: 50px;
    border: 1px solid #ababab;
    background: none;
}

.current-service-buttons-bar button i{
    font-size: 1.3em;
    color: #3a3a3a;
}

.current-service > div:nth-child(2){
    padding: 0;
    border: none;
    background: none;
}

.diagram-unit{
    width: 28%;
    height: 280px;
    padding: 30px;
    border: 1px solid #BFBFBF;
    background: #FFFFFF;
    text-transform: uppercase;
}

.diagram-unit:before{
    content: " ";
    position: absolute;
    top: -24%;
    display: block;
    width: 8px;
    height: 82px;
    background: #ababab;
    /*box-shadow: 20px 0px 0 0px #ababab;*/
}

.diagram-unit:after{
    content: " ";
    position: relative;
    right: -97%;
    top: -101%;
    display: block;
    width: 8px;
    height: 82px;
    background: #ababab;
}

.diagram-unit:nth-child(2):after{
    top: -148%;
}


.diagram-unit div{
    font-size: 6em;
    color: #3D3D3D;
}

.diagram-unit:nth-child(1) > div{
    position: relative;
    top: 21%;
    left: 34%;
}

.diagram-unit:nth-child(2) > div{
    position: relative;
    top: 9%;
    left: 8%;
}

.diagram-unit > div > span.hours-title{
    margin-left: 57px;
}

.diagram-unit:nth-child(3) > div{
    position: relative;
    top: 21%;
    left: 16%;
}

.diagram-unit > div > span {
    margin-left: 10px;
    font-size: 0.15em;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #111111;
}

#footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    max-height: 160px;
    width: 15vw;
    height: 15vw;
    margin-bottom: 20px;
    border-radius: 100%;
    background: #FFFFFF;
    opacity: 0.7;
}

#footer-logo img {
    width: 60%;
}

#copyright {
    font-size: 0.9em;
    color: #929090;
}